[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[core]
	editor = nvim
#[color "branch"]
#current = yellow reverse
#local = yellow
#remote = green
[user]
name = angeld #roman.andriyanov
email = roman.andriyanov@corp.mail.ru
[diff]
#external = git_diff_wrapper
[pager]
diff =
[alias]
co = checkout
ci = commit
st = status
br = branch
hist = log --pretty=format:\"%C(green)%h %ad | %s%Creset%d [%an]%Cgreen(%cr)%Creset\" --graph --date=short
type = cat-file -t
dump = cat-file -p
fdiff = diff --name-only

[color]
	branch = auto
	status = auto
	ui = auto
[log]
	decorate = full

